{% extends "partials/base.twig" %}
{% set title = "Dashboard" %}
{% set page_script = "/assets/js/dashboard.js" %}
{% set page_css = "/assets/css/dashboard.css" %}

{% block content %}

{% include 'dashboard/code_html.twig' %}
{% include 'dashboard/code_api.twig' %}
{% include 'dashboard/create.twig' %}

<div class="row">
    <h3 class="col s12">
        Sites
        <button class="btn waves-effect waves-light modal-trigger" data-target="site">
            Create Site
        </button>

    </h3>

    {% if not sites %}
        <h5 class="col s12">No sites found!</h5>
    {% endif %}

    {% for site in sites %}
        <div class="col s12 m6">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p>ID: <span class="bold">{{ site.id }}</span></p>
                        <p class="flow-text">Name: <span class="bold">{{ site.name }}</span></p>
                        <p class="flow-text">Domain: <span class="bold">{{ site.domain }}</span></p>
                    </div>

                    <div class="card-action">
                        <div class="cols">
                        <button class="col s4 btn-small waves-effect waves-light" onClick="modalHtml('{{ site.id }}')">
                            HTML
                        </button>

                        <div class="col s1"></div>

                        <button class="col s4 btn-small waves-effect waves-light" onClick="modalApi('{{ site.id }}')">
                            API
                        </button>

                        <div class="col s1"></div>

                        <button class="col s2 btn-small waves-effect waves-light right" onClick="deleteSite('{{ site.id }}')">
                            Delete
                        </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
